{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="groups">
            <!-- today to do list -->
            {% if today_list %}
            {% include 'inc/current_list.html' %}
            {% else %}
            <p dir="rtl">شما هنوز برنامه ای ندارید.</p>
            {% endif %}
            <!-- recent to do lists -->
            {% include 'inc/past_list.html' %}
        </div>
    </div>
    <div class="side">
        <div>
            <a href="{{url_for('plan.add_new_group')}}">افزودن فهرست <i class="fa-solid fa-plus"></i></a>
        </div>
        <div>
            <div>
                <a href="{{url_for('habit.add_habit')}}">افزودن عادت روزانه <i class="fa-solid fa-plus"></i></a>
            </div>
            <table>
                <tr>
                    <th>حذف</th>
                    <th>ویرایش</th>
                    <th>عنوان</th>
                    <th>وضعیت</th>
                </tr>
                {% for habit in current_user.habits %}
                <tr>
                    <td>
                        <a href="{{url_for('habit.delete_habit', habit_id=habit.id)}}">
                            <img src="https://img.icons8.com/material-rounded/24/null/delete-forever.png" /></a>
                    </td>
                    <td><a href="{{url_for('habit.edit_habit', habit_id=habit.id)}}">
                            <img class="icon"
                                src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-edit-social-media-ui-tanah-basah-glyph-tanah-basah.png" />
                        </a></td>
                    <td>{{habit.name}}</td>
                    <td>
                        {% if habit.active %}
                        فعال
                        {% else %}
                        غیرفعال
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
    var itemsBox = $('.items')

    for (let i = 0; i < itemsBox.length; i++) {
        if (i != 0) {
            itemsBox[i].style.height = '0'
            itemsBox[i].style.overflow = 'hidden'
        } else {
            itemsBox[i].style.height = '100%'
            itemsBox[i].style.overflow = 'hidden'
            $('.more-list')[0].style.rotate = '180deg'
        }
    }

    var moreListBtn = $('.more-list')
    moreListBtn.click(function () {
        var thisList = $(this).parent().children('.items')[0]
        if (thisList.style.height == '100%') {
            // close
            thisList.style.height = '0'
            thisList.style.overflow = 'hidden'
            this.style.rotate = '0deg'

        } else if (thisList.style.height == '0px') {
            // open
            thisList.style.height = '100%'
            thisList.style.overflow = 'hidden'
            this.style.rotate = '180deg'
        }
    })

    // progress bar
    var itemCount = itemsBox[0].children.length
    if (itemCount > 0) {
        var is_done = 0
        var progressBar = $(itemsBox[0]).parent().children(".progress-bar").children('.bar')[0]
        var items = $(itemsBox[0]).children('.item')
        for (let i = 0; i < items.length; i++) {
            var checked = $(items[i]).children('.item-title').children('form').children('input')[0].checked
            if (checked) {
                is_done++
            }
        }
        progress(itemCount, is_done, progressBar)
    }

    function progress(count, is_done, progressBar) {
        var w = 0;
        var widthBar = parseInt((is_done / count) * 100)
        $(progressBar).children('span')[0].textContent = `${widthBar}%`
        if (w == 0) {
            w = 1;
            var bars = $(".bar");
            var width = 1;
            var id = setInterval(frame, 20);
            function frame() {
                if (width >= widthBar) {
                    clearInterval(id);
                    w = 0;
                } else {
                    width++;
                    progressBar.style.width = width + "%";
                }
            }
        }
    }
</script>
{% endblock js %}