{% extends 'base.html' %}

{% block head %}
<title>Dashboard</title>
{% endblock head %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="groups">
            {% for group in goups %}
            <div class="group">
                <div class="group-title">
                    <span>{{group.name}}</span>
                    <div>
                        <a href="{{url_for('plan.add_new_plan', group_id=group.id)}}">افزودن برنامه</a>
                        <a href="{{url_for('plan.delete_group', group_id=group.id)}}">حذف فهرست</a>
                    </div>
                </div>
                <div class="items">
                    {% for item in group.items %}
                    <div class="item">
                        <div class="item-title">
                            <h2>{{item.title}}</h2>
                            <form method="post">
                                {% if item.is_done %}
                                <input class="done-plan" type="checkbox" name="done" value="{{item.id}}" checked>
                                {% else %}
                                <input class="done-plan" type="checkbox" name="done" value="{{item.id}}">
                                {% endif %}
                            </form>
                        </div>
                        <div>
                            <p>{{item.description}}</p>
                        </div>
                        <div class="control">
                            <a href="{{url_for('plan.edit_plan', plan_id=item.id)}}">ویرایش</a>
                            <a href="{{url_for('plan.delete_plan', plan_id=item.id)}}">حذف </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="side">
        <div>
            <a href="{{url_for('plan.add_new_group')}}">افزودن فهرست</a>
            <div>
                <div>
                    <a href="{{url_for('habit.add_habit')}}">افزودن عادت روزانه</a>
                </div>
                <ul>
                    {% for habit in current_user.habits %}
                    <li>{{habit.name}} <a href="{{url_for('habit.delete_habit', habit_id=habit.id)}}">حذف</a>
                        <a href="{{url_for('habit.edit_habit', habit_id=habit.id)}}">ویرایش</a>
                        <form method="post">
                            {% if habit.active %}
                            <input class="active-habit" type="checkbox" name="done" value="{{habit.id}}" checked>
                            {% else %}
                            <input class="active-habit" type="checkbox" name="done" value="{{habit.id}}">
                            {% endif %}
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
<script>

   
</script>
{% endblock js %}