<div class="group">
    <div class="group-title">
        <span>{{today_list.name}}</span>
        <div style="display:flex;flex-wrap: wrap;">
            <div style="margin-left: 10px;">
                <a href="{{url_for('plan.add_new_plan', group_id=today_list.id)}}">افزودن برنامه <i
                        class="fa-solid fa-plus"></i></a>
            </div>
            <div style="margin-left: 10px;">
                <a href="{{url_for('plan.delete_group', group_id=today_list.id)}}">حذف فهرست <i
                        class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    </div>
    <div class="progress-bar">
        <div class="bar"><span>0%</span></div>
    </div>
    <div class="items">
        {% for item in today_list.items %}
        <div class="item">
            <div class="item-title">
                <h3>{{item.title}}</h3>
                <form method="post">
                    {% if item.is_done %}
                    <input class="done-plan" type="checkbox" name="done" value="{{item.id}}" checked>
                    {% else %}
                    <input class="done-plan" type="checkbox" name="done" value="{{item.id}}">
                    {% endif %}
                </form>
            </div>
            <div>
                <p>{{item.description}}</p>
            </div>
            <div class="control">
                <a href="{{url_for('plan.edit_plan', plan_id=item.id)}}">ویرایش <i
                        class="fa-solid fa-pen-to-square"></i></a>
                <a href="{{url_for('plan.delete_plan', plan_id=item.id)}}">حذف برنامه <i
                        class="fa-solid fa-trash-can"></i> </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if today_list.items|length > 0 %}
    <i class="fa-solid fa-angle-down more-list"
        style="display: block; cursor: pointer; text-align: center; font-size: 24px;" title="بیشتر"></i>
    {% endif %}
</div>