<div class="lists">
    {% for list in groups %}
    {% if list.date.strftime('%Y-%m-%d') != today %}
    <div class="recent-list">
        <div>
            <div class="list-name">{{list.name}}</div>
            <div></div>
        </div>
        <div class="r-list-items">
            {% for item in list.items %}
            <div class="r-list-item">
                <div class="item-title">
                    <h3>{{item.title}}</h3>
                </div>
                <div>
                    {% if item.is_done %}
                    <img src="https://img.icons8.com/windows/32/null/double-tick.png"/>
                    {% else %}
                    <img src="https://img.icons8.com/material-outlined/24/null/delete-sign.png"/>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>