{% extends 'base.html' %}

{% block head %}
<title>ویرایش برنامه</title>
{% endblock head %}

{% block content %}
<div>
    <form method="post" class="planning-form">
        <input type="text" name="name" id="" placeholder="عنوان" value="{{habit.name}}" required>
        <textarea name="description" id="" cols="30" rows="10" placeholder="توضیحات" required>{{habit.description}}</textarea>
        <div>
            <p>تکرار به مدت؟</p>
            <select name="term" id="" required>
                <option value=""></option>
                <option value="year">یک سال</option>
                <option value="month">یک ماه</option>
                <option value="week">یک هفته</option>
            </select>
        </div>
        <input type="submit" value="اضافه">
    </form>
</div>
{% endblock content %}