* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Vazirmatn', sans-serif;
}

a {
    color: #222;
    text-decoration: none;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

/* container */
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.container>div {
    margin: 50px 30px;
}

.content {
    flex: 70%;
}

.side {
    flex: 30%;
    text-align: right;
}

.side ul {
    height: 130px;
    overflow: hidden;
}

.side ul li {
    display: flex;
    justify-content: space-between;
}

.side ul>li:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
}

.side>div {
    margin-bottom: 10px;
}


.more-habit {
    display: block;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group {
    width: 100%;
    margin-bottom: 20px;
    background: #eee;
    box-shadow: 0 0 57px 3px #cecece;
}

.group-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #546FE7;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.group-title a {
    color: #fff;
    text-align: right;
}

.item {
    padding: 10px 10px 20px 10px;
}

.item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items>div:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
}

.items>div:nth-child(even) {
    background-color: #dce0ea;
}

.item>div {
    margin: 10px 0;
}

.item .control {
    display: flex;
    align-items: center;
}

.item .control>div {
    margin-right: 10px;
}

.item .control a {
    color: royalblue;
    margin-right: 10px;
    background-color: #546FE7B8;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.btn-control {
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height: 25px;
    outline: none;
}

.form-content {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.planning-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.planning-form>* {
    margin: 10px;
}

.planning-form>input,
.planning-form>textarea {
    border: none;
    outline: none;
    border: 1px solid #546FE7;
    padding: 5px;
    border-radius: 5px;
}

.planning-form>input[type="submit"] {
    background-color: #546FE7;
    width: 70px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.login-form .content {
    padding: 35px;
    text-align: center;
}

.login-form .input-field {
    padding: 12px 5px;
}

.login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input::placeholder {
    text-transform: uppercase;
}

.login-form .input-field input:focus {
    border-color: #222;
}

.login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}

.login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.login-form .action button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.login-form .action button:hover {
    background: #d8d8d8;
}

.login-form .action button:nth-child(2) {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.login-form .action button:nth-child(2):hover {
    background: #3c4d6d;
}


@media screen and (max-width:650px) {
    .container {
        flex-direction: column-reverse;
    }

    .container>div {
        margin: 20px 30px;
    }
}

@media screen and (max-width:450px) {
    .item>div {
        margin: 5px 0;
    }

    .item {
        padding: 1px 10px 10px 10px;
    }
}